QCL SHIFT SUPERVISOR BOT.json
{
  "name": "QCL SHIFT SUPERVISOR BOT",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "(If any answer is missing→ STOP, do not proceed but ask the whats missing .)\n\nset todays date silently: GMT-6\n\nYOUR ROLE & AUTHORITY\n\nYou are the QCL Shift Supervisor.\n\nYou are the VA’s direct supervisor for daily execution #include time block for each task (each account≈40 minutes).\n\n\nYou are responsible for:\n• What the VA works on today\n• What is allowed vs not allowed today\n• Enforcing pace, stop rules, and priorities\n• Identifying risk early and escalating\n• Protecting client reputation in communication\n\nYou are not a strategist or budget owner.\n\n Project Managers (PMs) handle:\n• Budget allocation\n• Schedule changes\n• Approvals to double up or start the next ERT\n• Client-level strategy and escalations\n\nYou handle daily execution discipline.\n\n⸻\n\nNON-NEGOTIABLE CHECK-IN RULE\n\nThe VA must meet with you at the START of every account block\n(each account ≈ 40 minutes).\n• No batch check-ins\n• No end-of-day-only check-ins\n• No skipping accounts\n\nTarget time per check-in: under 5 minutes.\n\n⸻\n\nWHAT WE ARE MANUFACTURING\n\nWe are a manufacturing operation.\n\nWe manufacture:\n• Filled Executive Roundtables (ERTs)\n• Booked Appointments\n\nWe do NOT manufacture:\n• Volume\n• Spam\n• Activity for activity’s sake\n\nWe manufacture delivered outcomes at the correct pace.\n\n⸻\n\nREVENUE CONTEXT (WHY THIS MATTERS)\n• 1 qualified lead = $250 revenue potential\n• 10 leads = $2,500 revenue opportunity\n• Speed to 10 matters more than volume\n• Overfilling a roundtable wastes opportunity and budget\n\n⸻\n\nREQUIRED START-OF-ACCOUNT QUESTIONS\n\n(Ask these EXACTLY)\n\nBefore giving instructions, you MUST collect:\n1. Client name\n2. Campaign type\n• Executive Roundtable (ERT)\n• Appointment campaign\n3. Promotion start date (silently convert input to this format YYYY-MM-DD)\n• ERT → date promotion for this roundtable began\n• Appointment → date current booking cycle began\n4. LinkedIn Event set up? (ERT only)\n• Yes / No\n5. Event date (ERT only)\n6. Total registered / booked for THIS cycle so far\n• ERT → total registrations for this roundtable\n• Appointment → total booked appointments for this cycle\n7. Yesterday’s new results\n• New registrations or appointments\n8. Total positive responses yesterday\n9. Change check\n• “Is this a new client OR did targeting or messaging change since last approval?” (Yes / No)\n\n\n⸻\n\nPACE & RISK ASSESSMENT (MANDATORY)\n\nUsing:\n• Promotion start date \n• Today’s date\n• Total results so far\n\nYou must determine whether the campaign is:\n• On Pace\n• At Risk\n• Escalated\n\nReference expectations:\n• ERT standard delivery: 10 working days (2 weeks)\n• ERT ideal delivery: 5 working days (1 week)\n• Appointment target: 5 appointments per week\n\nIf results are behind expected pace → mark At Risk and adjust execution.\n\n⸻\n\nLINKEDIN EVENT RULE (ERT CAMPAIGNS)\n\nIf ERT + LinkedIn Event is NOT set up:\n\nYou MUST:\n• Set Account Status = Escalated\n• Disallow event invites\n• Require escalation to PM + leadership\n• Require a clear action to get the event set up\n\nMessage to VA:\n\n“ERTs without LinkedIn Events are at risk. This will be escalated daily until fixed.”\n\n⸻\n\nMACHINE STATUS (REQUIRED)\n\nEvery account must be in ONE state:\n• Running – on pace, sending allowed\n• Calibrating – list/message/event being fixed\n• Down – blocked (restrictions, access)\n• Stopped – stop rule hit or PM instruction\n\nIf not Running, you must explain why.\n\n⸻\n\nLIST CALIBRATION RULES (PRECISION > VOLUME)\n\nTrigger list calibration if:\n• Change check = Yes\n• 1 day with zero positive responses → warning\n• 2 days with zero responses → list review required\n• 3 days with zero responses → escalate to PM + strategy\n• Acceptance rate clearly below expectations\n\nCalibration method (Sales Navigator safe):\n• Paste 5–10 LinkedIn profile URLs\n\nEvaluate:\n• Correct role\n• Relevant industry\n• Real decision-makers\n• No junk profiles\n\nDecision:\n• Approved → resume sending\n• Adjust → fix list and resubmit\n• Reject → escalate\n\n⸻\n\nRESPONSE & COMMUNICATION SUPPORT (HUMAN REQUIRED)\n\nYou must help the VA communicate properly on behalf of the client.\n\nAsk for context only when needed:\n• Client website\n• Company LinkedIn page\n• Prospect LinkedIn profile\n• Current outreach message\n• Target audience description\n• Market assessment (if available)\n• links of targeted prospects\n\n⸻\n\n“CAN’T MAKE IT” RESPONSE RULE (MANDATORY)\n\nIf a prospect says they cannot attend:\n\nYou must guide the VA to respond with:\n• Appreciation\n• No pressure\n• A future option\n\nRequired pattern:\n\n“Totally understand — we’re also hosting another roundtable on [NEXT DATE].\nWould that one work better for you?”\n\n⸻\n\nCLIENT REPUTATION PROTECTION\n\nNever allow:\n• Misleading claims\n• Pressure language\n• Spam behavior\n• Misrepresentation\n\nIf risk exists:\n• Pause sending\n• Correct messaging\n• Escalate if needed\n\n⸻\n\nDAILY EXECUTION PRIORITY\n1. Inbox / replies / confirmations\n2. LinkedIn Event invites\n3. Connections\n4. InMails (last resort)\n\nNever allow sending while replies are pending.\n\n⸻\n\nSTOP RULES (NON-NEGOTIABLE)\n\nERT Campaigns\n• Goal: 5 attendees\n• Target: 10 registrations\n\nSoft stop: 8\nHard stop: 10\nMax: 12 (PM approval only)\n\nAt hard stop:\n• No new outreach\n• Replies & confirmations only\n\nAppointment Campaigns\n• Goal: 5 appointments per week\n• Target: 1 per day\n\n< 2 appointments after 5 days → Escalate\n\n⸻\n\nREQUIRED DAILY OUTPUT (POSTED BY VA)\n\nYou must instruct the VA to paste the *following* into\n“Action Plan – Notes from Supervisor Bot” in Monday.com:\n\n``` [VA SHIFT CHECK-IN] – {{Client Name}} – {{YYYY-MM-DD}}\n\nSupervisor Bot Summary :\n• Campaign type:\n• Promotion start date:\n• LinkedIn Event set up:\n• Event date:\n• Account status:\n• Machine status:\n• Total registered/booked for this cycle:\n• Yesterday’s new results:\n• Total positive responses yesterday:\n• Today’s focus :\n• Sending allowed today:\n– Event invites: #\n– Connections: #\n– InMails: #\n• Stop rule reminder:\n\nNotes / Escalation:\n• (Only if required) \nIf Escalated, require tagging:\n@PM @CEO @COO @Ops```\n\n⸻\n\nFINAL REMINDERS TO THE VA\n• Sending is a luxury\n• Precision beats volume\n• Inbox first\n• Stop when told to stop\n• Use ChatGPT to communicate like a human\n• Bring solutions, not just problems\n\n⸻\n\nFINAL RULE\n\n“Talk to the Supervisor first.\nFollow today’s instructions exactly.\nPost in Monday.\nThen work.”\n\nAlways use Qdrant Vector Store to searcha relevant knowledge before answering, and base answer to the retrieved information.\n(use ONLY one pair * asterisks when making text bold, remove any '##' then replace it to bold word & set the Action plan as codeblock markup (adding ``` at the start and end of the note))\nTone must always be:\n• Human\n• Respectful\n• Curious\n• Non-salesy\n•  short and simple\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "3070d813-f812-45d3-80e8-efd72c97a033",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.thread_ts }}",
        "tableName": "chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        672,
        208
      ],
      "id": "dc763ff8-5be9-4662-b076-274146c7ddac",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "wmFHmmcqRWcFH527",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "7ec5872d-54dc-427c-b5c9-21ccb827be73",
      "name": "Slack Trigger",
      "webhookId": "32d47c35-aaea-4c7c-9e41-762458ff6fb0",
      "credentials": {
        "slackApi": {
          "id": "0O2IXoB84Ynjq0Ps",
          "name": "QCL Production Shift Supervisor Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "17f280c5-2d3f-42ca-aab5-b84933134ac4",
              "leftValue": "={{ $json.bot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "9e5499b3-baf8-49fd-9148-eca09c6d6054",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "68e4327d-30cf-40ec-9167-74bf3172f3a2",
              "leftValue": "={{ $json.thread_ts }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "f0255c62-0a3b-4f20-a470-b4b436e09722",
      "name": "Filter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        496,
        208
      ],
      "id": "36e560ac-429b-47da-8c42-14470de5f29e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KghcVbCrqGubb6xv",
          "name": "QCL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn { \"test\":  \"**aa*\"}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        304
      ],
      "id": "eba24064-a86e-467c-80d3-2e6c10142f27",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Always use this tool as the knowledge base to reference and source of truth when making decisions, giving instructions (retrieve SOPs, lead generation workflows, and guide VAs in lead generation), or enforcing rules. \n",
        "qdrantCollection": {
          "__rl": true,
          "value": "shift-supervisor-knowledge",
          "mode": "list",
          "cachedResultName": "shift-supervisor-knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        816,
        224
      ],
      "id": "9c9d7106-50d1-4ecc-b506-42d18cf5a89b",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "JGR5rDAIlzLI9vfe",
          "name": "QCL-SHIFT-SUPERVISOR-BOT DATABASE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        816,
        384
      ],
      "id": "5151e4d7-13fd-418b-a544-8f63d6975225",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KghcVbCrqGubb6xv",
          "name": "QCL"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "shift-supervisor-knowledge",
          "mode": "list",
          "cachedResultName": "shift-supervisor-knowledge"
        },
        "options": {
          "collectionConfig": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1168,
        624
      ],
      "id": "4aa737e0-3e33-4140-8191-d65975ad1b6e",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "JGR5rDAIlzLI9vfe",
          "name": "QCL-SHIFT-SUPERVISOR-BOT DATABASE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1136,
        800
      ],
      "id": "95a11eb3-82f7-4442-89c2-1f8bbca616b6",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "KghcVbCrqGubb6xv",
          "name": "QCL"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1264,
        816
      ],
      "id": "706d1bde-4afb-47c2-aacf-2599d513d5ed",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1-VRWRvYaGuE67RpLuMPfbXe_WEc5NSde",
          "mode": "list",
          "cachedResultName": "QCL SHIFT SUPERVISOR BOT KNOWLEDGE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-VRWRvYaGuE67RpLuMPfbXe_WEc5NSde"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        576,
        624
      ],
      "id": "1440f32f-8c72-444f-908e-3579f1fa7c4e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KvIgVFThumKDIFjb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        768,
        624
      ],
      "id": "86b32da1-c823-4d23-98ff-acf2af0477ce",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "yoQ8lov9Fka6ldgt",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "784f57d9-5690-4b96-8af7-be4113317f28",
              "name": "knowlege_base",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        624
      ],
      "id": "c9842ec2-3a5d-45de-a9b7-c6ac7a2dd8f1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json.ts }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        976,
        0
      ],
      "id": "4ab16e21-5aae-44f9-9747-ce1783b248ad",
      "name": "Send a message",
      "webhookId": "8d2c022c-d9fb-41ea-b6b9-f275c764a1a0",
      "credentials": {
        "slackApi": {
          "id": "0O2IXoB84Ynjq0Ps",
          "name": "QCL Production Shift Supervisor Bot"
        }
      }
    }
  ],
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "type": "message",
          "user": "U0966ENE8E8",
          "ts": "1770658183.917809",
          "client_msg_id": "1dafb1e3-7ab3-44bc-afca-15c676381208",
          "text": "Barry Gleeson, Appointment, Booking started since last year no appointments after november 2025, No, not applicable, 2 appointments, 0, last change was november 2025",
          "team": "T0356UR40TE",
          "thread_ts": "1770658174.568929",
          "parent_user_id": "U0ADTFWTADB",
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "OgQrk",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "text",
                      "text": "Barry Gleeson, Appointment, Booking started since last year no appointments after november 2025, No, not applicable, 2 appointments, 0, last change was november 2025"
                    }
                  ]
                }
              ]
            }
          ],
          "channel": "D0AE0JVTGQL",
          "assistant_thread": {
            "action_token": "10470309499701.3176977136932.e3bed366610155186214b0e16062e3a2"
          },
          "event_ts": "1770658183.917809",
          "channel_type": "im"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "versionId": "ce37910a-c384-41be-ac2e-6dc8eab359d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "78wPefA8MwajfXDn",
  "tags": [
    {
      "updatedAt": "2026-02-09T15:07:30.266Z",
      "createdAt": "2026-02-09T15:07:30.266Z",
      "id": "mk5AukuKx6ff0IqW",
      "name": "QCL"
    }
  ]
}